<div class="modal-dialog">
    <div class="modal-header">
        <h2>Add Song</h2>
    </div>
    <div class="modal-body">
        <form method="POST" class="form form-horizontal">
            <div class="form-group">
                <label class="col-sm-4">URL: </label>
                <input type="text" class="col-sm-4"></input>
            </div>
            <div class="form-group">
                <label class="col-md-4">Light: </label>
                <input type="radio" class="col-md-2">Light</input>
                <input type="radio" class="col-md-2">Dark</input>
            </div>
            <div class="form-group">
                <label class="col-md-4">Temperature: </label>
                <p class="col-md-4">Insert Slider here</p>
            </div>
            <div>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>

    </form>
</div>
