<div class="modal-dialog">
    <div class="modal-header">
        <h2>Add Song</h2>
    </div>
    <div class="modal-body">
        <form method="POST" action="/envirobeatz/api/v1.0/songs/add" class="form form-horizontal">
            <div class="form-group">
                <label class="col-sm-4">URL: </label>
                <input type="text" name="songUrl" class="col-sm-4"></input>
            </div>
            <div class="form-group">
                <label class="col-md-4">Mood: </label>
                <input type="text" name="moodId" class="col-md-4"></input>
            </div>
            <div class="form-group">
                <label class="col-md-4">Song Title: </label>
                <input type="text" name="songTitle" class="col-md-4"></input>
            <div>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>

    </form>
</div>
