<div ng-app="enviroBeatzApp" ng-controller="songController" class="modal-dialog">
    <div class="modal-header">
        <h2>Add Song</h2>
    </div>
    <div class="modal-body">
        <form method="POST" ng-submit="submit()" class="form form-horizontal">
            <div class="form-group">
                <label class="col-sm-4">URL: </label>
                <input type="text" ng-model="song.url" name="songUrl" class="col-sm-4"></input>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Input: </label>
                <select class="col-sm-4" ng-model="song.type">
                    <option value="light">Light</option>
                    <option value="temperature">Temperature</option>
                </select>
            </div>
            <div class="form-group" id="valueContainer">
                <label class="col-sm-4">Value: </label>
                <div class="col-sm-4" id="tempOptions">
                    <input type="range" ng-model="song.min" value="50" min="0" max="500"/>
                    <input type="range" ng-model="song.max" value="50" min="0" max="500"/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>
<!-- Angular -->
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/songController.js') }}"></script>

